name: Upload python package

on:
  release:
    types: [created]

jobs:
  deploy:

    runs-on: ubuntu-latest
    if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags')

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel twine

      - name: Build package
        run: python setup.py sdist bdist_wheel

      - name: Build and publish
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.TWINE_PASSWORD }}
          skip_existing: true
